<div class="container">
  <div class="row mt-sm-5 mb-sm-5">
    <div class="col-10 mx-auto">
      <div class="justify-content-sm-center">
        <h1><strong>1RooM</strong>とは、一人暮らしに役立つ情報を掲載するコミュニティサイトです！</h1>
        <h3 style="margin: 100px;">
          ・簡単に作れる料理のレシピが知りたい！<br />
          ・お金の管理はどうすればいい？<br />
          など、皆さんが知りたい情報、持っている情報を共有することができます！
        </h3>
      </div>
    </div>
  </div>
</div>