<h2>1RooM</h2>
<p>一人暮らしに役立つ情報を掲載するコミュニティサイト！</p>

<div>
  <%= link_to "新規登録", new_user_registration_path %>
</div>

<div>
  <%= link_to "ログイン", new_user_session_path %>
</div>
<div>
  <%= link_to "ゲストとしてログイン", public_users_guest_sign_in_path, method: :post %>
</div>