<div class="container mt-sm-5">
  <div class="row">
    <div class="col-md-4">
      <p class="text-light"></p>
      <h4>1RooM</h4>
    </div>
    <div class="col-md-8">
      <ul class="list-unstyled">
        <li>会社概要</li>
        <li>プライバシーポリシー</li>
      </ul>
    </div>
    <div>
      <p class="text-sm-center">©️ one_room</p>
    </div>
  </div>
</div>