<div class="container mt-sm-4">
  <div class="row no-gutters">
    <div class="col-md-5">
      <p class="text-light">一人暮らしに役立つ情報を掲載するコミュニティサイト！</p>
      <h4 class="footer-theme">1RooM</h4>
    </div>
    <div class="col-md-6 offset-1">
      <ul class="list-unstyled text-light">
        <li>会社概要</li>
        <li>プライバシーポリシー</li>
      </ul>
    </div>
  </div>

  <p class="text-sm-center text-secondary">©️ one_room</p>
</div>



<style>
  .footer-theme {
    color: #fcc800;
    font-family: "Lucida Console", Courier, monospace;
  }
</style>